{{ define "body" }}
			<div class="ui segment vertical stripe">
				<div class="ui container">
					<p>Welcome to Noxoin's Golink Redirector!</p>
					<p>This contains all the links that are currently within the system. The resulting golink is https://go.noxoin.com/<i>name</i> and will redirect to the url.</p>
					<div class="ui negative message hidden" id="addErrorMsg">
					</div>
					<div class="ui action input fluid" id="addInfo">
						<input name="name" type="text" value="" placeholder="Name" />
						<input name="url" type="text" value="" placeholder="Url...."/>
						<button class="ui blue button" onclick="javascript:addLink();">Add</button>
					</div>
					<table class="ui celled table">
						<thead>
							<tr>
								<th style="width:25%">Name</th>
								<th colspan="2">Url</th>
							</tr>
						</thead>
						<tbody>
							{{range .Golinks}}
								<tr id="{{.Name}}">
									<td>{{.Name}}</td>
									<td><a href="{{.Url}}">{{.Url}}</a></td>
									<td style="width:20px;border-left-width:0px">
										<i class="trash icon"></i>
									</td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
<script type="text/javascript">
function getParams() {
	var inputs = document.getElementById("addInfo").getElementsByTagName("input");
	var name = inputs[0].value;
	var url = inputs[1].value;
	return `name=${name}&url=${url}`;
}

function addLink() {
	var params = getParams();
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
			if (this.readyState == 4) {
				var div = document.getElementById("addErrorMsg");
				var classes = div.className.split(" ");
				if (this.status == 200) {
					location.reload();
				} else {
					if (classes.indexOf("hidden") > -1) {
						classes.splice(classes.indexOf("hidden"), 1);
						div.className = classes.join(" ");
					}
					div.innerHTML = xhttp.response;
				}
			}
	};
	xhttp.open("POST", "/api/v1/", true);
	xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	console.log(params);
	xhttp.send(params);
}
</script>
{{ end }}
