{{ define "body" }}
			<div class="ui segment vertical stripe">
				<div class="ui container">
					<p>Welcome to Noxoin's Golink Redirector!</p>
					<p>This contains all the links that are currently within the system. The resulting golink is https://go.noxoin.com/<i>name</i> and will redirect to the url.</p>
					<table class="ui celled table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Count</th>
								<th>Url</th>
							</tr>
						</thead>
						<tbody>
							{{range .Golinks}}
								<tr>
									<td>{{.Name}}</td>
									<td>{{.Count}}</td>
									<td><a href="{{.Url}}">{{.Url}}</a></td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
{{ end }}
